<html>
<head>
    <title>base</title>
</head>
<body>


<script type="text/javascript" src="/lib/requirejs/require.js" data-main="/javascript/mac/main"></script>
<script type="text/html" id="msg-tpl">
    <div class="j-msg {{=color}}">
        <img class="j-msg-face" src="http://avatar.3sd.me/40"/>

        <div class="j-msg-board">
            <span class="j-msg-board-nickname">{{=nickname}}</span>
            <span class="j-msg-board-time">{{=time}}</span>
            <span class="j-msg-board-coentent">{{=content}}</span>
        </div>
    </div>
</script>
</body>
</html>