<!DOCTYPE html>
<html>
<head>
    <title>开聊吧 | …</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/jquery/jquery-ui-1.8.21.custom.css'/>
    <link rel="shortcut icon" type="image/x-icon" href="http://demo.sc.chinaz.com/Files/pic/iconsico/4736/chat.ico">
</head>
<body>

<div class="board"></div>

<div class="wrap radius-7">
    <div class="top-panel linear-gray">
        <div class="title">伦敦 | 112'E 30'N</div>
        <div id="i-profile" class="select radius-3 linear-gray">
            <img src="http://tp4.sinaimg.cn/1739839932/180/0/5616683556" alt="">
            冯诺伊森
        </div>
    </div>
    <div class="left-panel">
        <div class="setting">
            <div class="button"></div>
            <div class="button"></div>
            <div class="button"></div>
            <div class="button"></div>
        </div>
        <div class="users-list">
            <div class="user">
                <img class="face radius-3" src="http://tp4.sinaimg.cn/1739839932/180/0/5616683556" alt="">
                <span class="name">Super Man</span>
            </div>
            <div class="user active">
                <img class="face radius-3" src="http://tp1.sinaimg.cn/1774310572/50/5621785388/1" alt="">
                <span class="name">Super Man</span>
            </div>
            <div class="user">
                <img class="face radius-3" src="http://tp3.sinaimg.cn/1728220510/50/39996259879/0" alt="">
                <span class="name">Super Man</span>
            </div>
            <div class="user">
                <img class="face radius-3" src="http://tp3.sinaimg.cn/1856246354/50/5632586192/0" alt="">
                <span class="name">Super Man</span>
            </div>
            <div class="user">
                <img class="face radius-3" src="http://tp3.sinaimg.cn/1856246354/50/5632586192/0" alt="">
                <span class="name">Super Man</span>
            </div>
        </div>
        <div class="rooms-list">

        </div>
    </div>
    <div class="main-panel">
        <div class="u-info">
            <img class="u-face radius-3" src="http://tp1.sinaimg.cn/1774310572/50/5621785388/1" alt="">

            <div class="u-description">
                <span style="font-size: 18px;font-weight: bold;">Super Man</span><br>
                <span style="font-size: 10px">hello would you like to have a sex ?</span>
            </div>
            <div class="button"></div>
            <div class="button"></div>
            <div class="button"></div>
        </div>
        <div class="chat">
            <div class="message">
                <img class="face" src="http://tp1.sinaimg.cn/1774310572/50/5621785388/1" alt="">

                <div class="content">
                    <span style="font-size: 18px">Super Man</span>
                    <span style="font-size: 12px;color: #808080;"> - 2012.8.18</span><br>
                    sldjflaksjdflkaj fasdlfkja sdfj alsdjf asdlkjf alksdjflakjsdf la sdlf alsd fjlasd
                    fjalsdj fa lsdjf aljsdf lasjd flasjd flas djfla sdjf alsdjf alsf a sdf assldjflaksjdflkaj fasdlfkja
                    sdfj alsdjf asdlkjf alksdjflakjs
                </div>
            </div>
            <div class="message">
                <img class="face" src="http://tp1.sinaimg.cn/1774310572/50/5621785388/1" alt="">

                <div class="content">
                    <span style="font-size: 18px">Super Man</span>
                    <span style="font-size: 12px;color: #808080;"> - 2012.8.18</span><br>
                    sldjflaksjdflkaj fasdlfkja sdfj alsdjf asdlkjf alksdjflakjsdf la sdlf alsd fjlasd
                    fjalsdj fa lsdjf aljsdf lasjd flasjd flas djfla sdjf alsdjf alsf a sdf assldjflaksjdflkaj fasdlfkja
                    sdfj alsdjf asdlkjf alksdjflakjs
                </div>
            </div>
            <div class="message">
                <img class="face" src="http://tp1.sinaimg.cn/1774310572/50/5621785388/1" alt="">

                <div class="content">
                    <span style="font-size: 18px">Super Man</span>
                    <span style="font-size: 12px;color: #808080;"> - 2012.8.18</span><br>
                    sldjflaksjdflkaj fasdlfkja sdfj alsdjf asdlkjf alksdjflakjsdf la sdlf alsd fjlasd
                    fjalsdj fa lsdjf aljsdf lasjd flasjd flas djfla sdjf alsdjf alsf a sdf assldjflaksjdflkaj fasdlfkja
                    sdfj alsdjf asdlkjf alksdjflakjs
                </div>
            </div>
            <div class="message">
                <img class="face" src="http://tp1.sinaimg.cn/1774310572/50/5621785388/1" alt="">

                <div class="content">
                    <span style="font-size: 18px">Super Man</span>
                    <span style="font-size: 12px;color: #808080;"> - 2012.8.18</span><br>
                    sldjflaksjdflkaj fasdlfkja sdfj alsdjf asdlkjf alksdjflakjsdf la sdlf alsd fjlasd
                    fjalsdj fa lsdjf aljsdf lasjd flasjd flas djfla sdjf alsdjf alsf a sdf assldjflaksjdflkaj fasdlfkja
                    sdfj alsdjf asdlkjf alksdjflakjs
                </div>
            </div>
        </div>
        <div class="po">
            <input type="text" class="radius-3" placeholder="约她！">
            <button class="radius-3">发送</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="/javascript/seajs/sea.js"></script>
<script type="text/javascript" src="/javascript/init.js"></script>
<!--<script type="text/javascript" src="/javascript/template.min.js"></script>-->
<script type="text/javascript" src="/javascript/main.js"></script>
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</body>

</html>