<!DOCTYPE html>
<html>
<head>
    <title>开聊吧！</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/jquery/jquery-ui-1.8.21.custom.css'/>
    <link rel="shortcut icon" type="image/x-icon" href="http://demo.sc.chinaz.com/Files/pic/iconsico/4736/chat.ico">
</head>
<body>

<div id="header">
    <img id="u-face" class="matrix" src="http://tp2.sinaimg.cn/1577826897/180/5630306051/1">

    <div id="info">
        <span>经纬度：142' 23'</span>
        <span>地方名：古巴比仑</span>
        <span></span>
        <span></span>
    </div>
    <button id="leave" class="matrix">X</button>
</div>

<div id="content">
</div>

<div id="footer">
    <div id="i-face" class="matrix"></div>
    <textarea id="po-text"></textarea>
    <button id="po-submit" class="matrix">发送</button>
</div>

<div id="map">

</div>

<div id="config">
    <div class="faces">
        <img width="" src="/images/faces.jpg" usemap="#faces">
        <map name="faces"></map>
    </div>
    <div class="profile">
        <label><input type="text" placeholder="取一个名字"><button class="matrix">随机</button></label>
        <textarea placeholder="写点什么描述下自己～"></textarea>
        <button class="matrix">静音</button>
    </div>
</div>

</body>
<script type="text/javascript" src="/javascripts/seajs/sea.js"></script>
<script type="text/javascript" src="/javascripts/init.js"></script>
<!--<script type="text/javascript" src="/javascripts/template.min.js"></script>-->
<script type="text/javascript" src="/javascripts/main.js"></script>
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- 聊天消息模板 -->
<script id="item" type="text/html">
    <div class="item">
        <div class="bubble self">
            <p>{%= data.msg %}</p>
            <span class="time">{%= data.time %}</span>
        </div>
        <img src="http://tp1.sinaimg.cn/1494932200/180/5601623669/1"
             style="background-position: ">
    </div>
</script>

<!-- 通知消息模板 -->
<script id="notice" type="text/html">
    <div class="notice">
        <p>{%=data.sysMsg %}</p>
    </div>
</script>

<!-- 图片热点模板 -->
<script id="area" type="text/html">
    {% for(var i = 0; i < count; i++) { %}
    <area shape="rect" coords="{%= i*124 %},0,{%= (i+1)*124 %},124" value="{%= i %}" href="#">
    {% } %}
</script>

</html> 