<!DOCTYPE html>
<html>
<head>
    <title>开聊吧！</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/jquery/jquery-ui-1.8.21.custom.css'/>
    <link rel="shortcut icon" type="image/x-icon" href="http://demo.sc.chinaz.com/Files/pic/iconsico/4736/chat.ico">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

<header>
    <img id="u-face" class="matrix" src="http://tp2.sinaimg.cn/1577826897/180/5630306051/1">
    <button id="leave" class="matrix">X</button>
</header>

<div id="content">
    <div class="item">
        <img src="http://img.xiami.com/res/loop/img/avatar/head_front_lime.png">
        <div class="bubble self">
            <p>今晚去哪里吃饭</p>
            <span class="time">12：23</span>
        </div>
    </div>
</div>

<footer>
    <img id="i-face" class="matrix" src="http://tp1.sinaimg.cn/1625070192/180/5626596604/1">
    <textarea id="po-text"></textarea>
    <button id="po-submit" class="matrix">发送</button>
</footer>

</body>
<script type="text/javascript" src="/javascripts/jquery/jquery-1.8b2.js"></script>
<script type="text/javascript" src="/javascripts/jquery/jquery-ui-1.8.21.custom.min.js"></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/socket.io.min.js"></script>
<script>
    var socket = io.connect('http://localhost:3000');
    socket.on('news', function (data) {
        console.log(data);
        socket.emit('my other event', { my:'data' });
    });
</script>

</html> 