<html>
<head>
    <title>抹茶</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheet/mac/mac.css'/>
    <link rel='stylesheet' href='/lib/jquery-ui/css/smoothness/jquery-ui-1.10.4.custom.min.css'/>
    <link rel='stylesheet' href='/lib/jquery/jquery-1.11.0.min.map'/>
    <link rel="shortcut icon" type="image/x-icon" href="<%=faviconUrl%>">
</head>
<body>

<div class="wrap radius-7">
    <div class="top-panel linear-gray">
        <div class="title"></div>
        <div id="i-profile" class="radius-3 linear-gray">
            <img src="http://avatar.3sd.me/30"> 匿名人士
        </div>
    </div>
    <div class="main-panel">
        <div class="left-panel">
            <div class="setting">
                <div class="button" id="join"></div>
            </div>
            <div class="user-list">
            </div>
            <div class="rooms-list">
            </div>
        </div>
        <div class="right-panel">
        </div>
    </div>
</div>

<script type="text/javascript" src="/lib/requirejs/require.js" data-main="/javascript/mac/main"></script>

<script type="text/html" id="panel-tpl">
    <div class="panel" room-id="{{=roomId}}">
        <div class="u-info">
            <img class="u-face radius-3" src="{{=face}}">

            <div class="u-description">
                <span style="font-size: 18px;font-weight: bold;">{{=nickname}}</span><br>
                <span style="font-size: 14px">{{=desc}}</span>
            </div>
            <div class="button"></div>
        </div>
        <div class="chat" id="chat-{{=roomId}}">
        </div>
        <div class="po">
            <textarea name="po-content" class="radius-7" placeholder="尽情聊天"></textarea>
        </div>
    </div>
</script>

<script type="text/html" id="user-tab-tpl">
    <div class="tab {{=userClass}}" room-id="{{=roomId}}">
        <img class="face radius-3" src="{{=face}}">
        <span class="nickname">{{=nickname}}</span>

        <div class="addition {{=additions}}"></div>
    </div>
</script>

<script type="text/html" id="rich-msg-tpl">
    <div class="message">
        <img class="face" src="http://avatar.3sd.me/40">

        <div class="content">
            <span style="font-size: 18px">{{=nickname}}</span>
            <span style="font-size: 12px;color: #808080;"> - {{=time}}</span><br>
            {{=content}}
        </div>
    </div>
</script>
<script type="text/html" id="simple-msg-tpl">
    <div class="message {{=color}}">
        <div class="simple-content">
            <span style="font-size: 18px">{{=nickname}}</span>
            <span style="font-size: 12px;color: #808080;"> ({{=time}})</span>
            <br>{{=content}}<br>
        </div>
    </div>
</script>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</body>

</html>