<html>
<head>
    <title>mochat</title>
</head>
<body>
<label for="board">内容</label><textarea name="board" id="board" cols="30" rows="10"></textarea>
<button onclick="join()">join</button>
<button onclick="leave()">leave</button>
<label for="content">输入</label><input type="text" name="content" id="content"/>
<button onclick="send()">send</button>

<script src="/lib/socket-io/socket.io.js"></script>
<script>
    var socket;
    var _roomId;

    (function init() {
        socket = io.connect(window.location.host);

        // 进入房间
        socket.on('joined', function (data) {
            console.log('房间号' + data.roomId);
            _roomId = data.roomId;
        });

        // 退出房间
        socket.on('left', function (data) {
            console.log('房间号' + data.roomId);
        });

        // 接收消息
        socket.on('receive', function (data) {
            console.log('房间号' + data.roomId);
            console.log('内容是' + data.content);
            console.log('时间是' + data.time);
            console.log('发送者' + data.sender);
            document.getElementById('board').value += "--------------\n" + data.sender + ":\n" + data.content + "\n";
        });

        // 接收通知
        socket.on('notice', function (data) {
            console.log('房间号' + data.roomId);
            console.log('内容是' + data.content);
            console.log('时间是' + data.time);
            document.getElementById('board').value += "--------------\n管理员通知\n" + data.content + "\n";
        });

    })();

    function join() {
        socket.emit('join');
    }

    function leave() {
        socket.emit('leave', {
            roomId: _roomId
        });
    }

    function send() {
        socket.emit('send', {
            roomId: _roomId,
            content: document.getElementById('content').value
        });
    }

</script>

</body>
</html>