* {
    font-family: '微软雅黑';
}

body {
    /*background-image: url('http://vr.theatre.ntu.edu.tw/fineart/architect-wt/paris-notredame/17-a-07x.jpg');*/
}

.radius-3 {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.radius-7 {
    -webkit-border-p: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.linear-gray {
    background: -moz-linear-gradient(top, #ebebeb 0, #d0d0d0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ebebeb), color-stop(100%, #d0d0d0));
}

.select {
    text-align: right;
    vertical-align: middle;
    border: 1px solid gray;
    cursor: pointer;
    margin: 5px 10px 5px 10px;
    font-size: 10px;
    height: 20px;
    float: right;
    max-width: 150px;
    padding: 5px;
}

.button {
    background-image: url("/images/icons.png");
    width: 32px;
    height: 32px;
    margin: 5px;
    float: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: #ececec;
    cursor: pointer;
}

.board {
    width: 300px;
    height: 500px;
    position: absolute;

}

.wrap {
    background-color: #fff;
    border: 1px solid black;
    width: 800px;
    height: 600px;
    left: 50%;
    margin-left: -400px;
    box-shadow: 0 5px 10px gray;
    -moz-box-shadow: 0 5 10px gray;
    -webkit-box-shadow: 0 5px 10px gray;
    position: fixed;
}

.top-panel {
    height: 45px;
    padding: 5px 0 5px 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    border-top-right-radius: 7px;
}

.left-panel {
    width: 199px;
    height: 545px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url("/images/left-panel-bg.png");
    background-repeat: no-repeat;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-left-radius: 7px;
    border-right: 1px solid #c4c4c4;
}

.main-panel {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 600px;
    height: 545px;
    background-image: url("/images/main-panel-bg.png");
    background-repeat: no-repeat;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    border-bottom-right-radius: 7px;
}

/*-------------------*/
#i-profile {
    width: 90px;
    padding-right: 20px;
}

#i-profile img {
    float: left;
    width: 20px;
    height: 20px;
}

.top-panel .title {
    width: 250px;
    margin: 10px auto 5px auto;
    position: absolute;
    left: 50%;
    margin-left: -125px;
}

.main-panel .u-info {
    width: 580px;
    height: 85px;
    padding-right: 20px;
    border-bottom: 1px solid #c4c4c4;
    box-shadow: 0 0 5px gray;
    -moz-box-shadow: 0 0 5px gray;
    -webkit-box-shadow: 0 0 5px gray;
}

.left-panel .setting {
    padding: 25px 10px 25px 10px;
    width: 179px;
    height: 35px;
    border-bottom: 1px solid #c4c4c4;
}

.left-panel .users-list {
    height: 290px;
    width: 205px;
    overflow-y: auto;
    overflow-x: visible;
}

.left-panel .rooms-list {
    height: 170px;
    width: 199px;
    border-top: 1px solid #c4c4c4;

}

.left-panel .users-list .user:first-child {
    border-top: 1px solid #fff;
}

.left-panel .users-list .user {
    width: 180px;
    height: 50px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    color: #808080;
}

.left-panel .users-list .user:hover {
    font-weight: bold;
    color: #000000;
}

.left-panel .users-list .active {
    width: 200px;
    border-bottom: 1px solid #c4c4c4;
    border-top: 1px solid #c4c4c4;
    font-weight: bold;
    color: #000000;
    background-color: #fff;
}

.left-panel .users-list .user .name {
    float: left;
    margin-top: 16px;
    margin-left: 5px;
    font-size: 14px;
}

.left-panel .users-list .user .face {
    float: left;
    margin: 8px;
    width: 32px;
    height: 32px;
}

.main-panel .u-info .u-face {
    margin: 15px;
    float: left;
    width: 60px;
    height: 60px;
}

.main-panel .u-info .button {
    float: right;
    margin-top: 30px;
    margin-bottom: 25px;
}

.main-panel .u-info .u-description {
    float: left;
    margin-top: 20px;
}

.main-panel .chat {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 71px;
    top: 86px;
    overflow-y: auto;
}

.main-panel .chat .message {
    float: left;
    width: 540px;
    border-top: 1px solid #c4c4c4;
    padding: 20px;
}

.main-panel .chat .message .face {
    float: left;
}

.main-panel .chat .message .content {
    margin-left: 70px;
    font-size: 12px;
}

.main-panel .po {
    padding: 15px;
    width: 570px;
    height: 40px;
    border-top: 1px solid #c4c4c4;
    position: absolute;
    bottom: 0;
    background-color: #f7f7f7;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    border-bottom-right-radius: 7px;
}

.main-panel .po input {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
    padding: 0 80px 0 20px;
}

.main-panel .po button {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    width: 60px;
}