body {
    padding: 50px;
    font: 14px "微软雅黑", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
    text-decoration: none;
}

.center {
    position: fixed;
    width: 960px;
    margin-left: -480px;
    left: 50%;
}

/*.........*/
header {
    background-color: #add8e6;
    height: 120px;
    top: 0;
}

footer {
    background-color: #d3d3d3;
    height: 100px;
    bottom: 0;
    padding: 10px;
}

#content {
    background-color: #90ee90;
    top: 120px;
    bottom: 25px;
    overflow: auto;
}